<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
		
	<section class="layout-content" layout:fragment="corpo">	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home1</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Spring-Boot</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							<a href="https://projects.spring.io/spring-boot/">Spring Boot</a>
							makes it easy to create stand-alone, production-grade Spring
							based Applications that you can "just run". We take an
							opinionated view of the Spring platform and third-party libraries
							so you can get started with minimum fuss. Most Spring Boot
							applications need very little Spring configuration.
						</div>						
					</div>
				</div>
			</div>
		</div>
		
	</section>		
</body>
</html>